<div id="<%= dom_id table %>">
  <p>
    <strong>Table number:</strong>
    <%= table.table_number %>
  </p>

  <p>
    <strong>Seating capacity:</strong>
    <%= table.seating_capacity %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= table.status %>
  </p>

</div>
