<div id="<%= dom_id feedback %>">
  <p>
    <strong>Customer:</strong>
    <%= feedback.customer_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= feedback.rating %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= feedback.comments %>
  </p>

</div>
